.footer {
  background-color: #2e4053; 
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 111px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.social-icons {
  margin-top: 10px;
}

.social-icon {
  color: #66d9ef; 
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.1rem;
}

.social-icon:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 1200px) {
  .footer-container {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    max-width: 768px;
  }
  .social-icons {
    flex-wrap: wrap;
  }
  .social-icon {
    margin: 10px;
  }
}


@media only screen and (max-width: 767px) {
  .footer-container {
    max-width: 100%;
  }
  .social-icons {
    flex-direction: column;
  }
  .social-icon {
    margin: 10px 0;
  }
}